<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">BirthDate</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
          <td> {{ user.id }} </td>
          <td>
            <a [routerLink]="['/users', user.id]">{{ user.name }}</a>
          </td>
          <td>{{ user.birthDate }}</td>
        <button (click) = "onDelete(user.id)"> x (delete)</button>
      </tr>

      </tbody>
    </table>
  </div>
<!--  <div> <app-single-user> </app-single-user></div>-->
  <router-outlet> </router-outlet>
</div>
